.wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  background: #eee;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.2s;
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.page {
  font-weight: 600;
}
