.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #ddd;
}

.activeBtn {
  padding: 8px 16px;
  border-radius: 10px;
  background: #0066ff;
  color: white;
  cursor: pointer;
}

.grid {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.loading {
  margin-top: 60px;
  text-align: center;
  font-size: 22px;
}

.backBtn {
  padding: 8px 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  transition: 0.2s;
}

.backBtn:hover {
  background-color: #ddd;
}

.productTitle {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0 10px;
}

.productDescription {
  font-size: 18px;
  margin: 10px 0 20px;
}

.editBtn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.editBtn:hover {
  background-color: #005bb5;
}

.createBtn {
  margin-left: auto; 
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.createBtn:hover {
  background-color: #218838;
}